
<!--  <div class="index-banner">
  <p>  Cocktails </p>
  <%= link_to "Add new cocktail", new_cocktail_path, class: 'btn btn-primary' %>

</div>

<div class= "container">


<% @cocktails.each do |cocktail| %>
<div class="card">
  <div class="card image-card">
    <%= link_to cocktail.name, cocktail_path(cocktail), class: 'name-color'%>
  </div>
</div>
<% end %>
</div>

<div class="button-right">

</div>
-----------------
-->

<div class="card-category">
  Cocktails
  <%= link_to "Add new cocktail", new_cocktail_path, class: 'btn btn-flat' %>
</div>
<div class="cards">
<% @cocktails.each do |cocktail| %>
 <div class="card-category">
    <%= link_to cocktail.name, cocktail_path(cocktail) , class: 'link-color'%>
</div>

  <% end %>
</div>


