<div class="button-right">
<%= link_to "Add new cocktail", new_cocktail_path, class: 'btn btn-primary ' %>

</div>



<div class= "container">

<!--  -->
<% @cocktails.each do |cocktail| %>
<div class="card">
  <div class="card image-card">
    <%= link_to cocktail.name, cocktail_path(cocktail)%>
  </div>
</div>
<% end %>
</div>

